#a{
    width: 100px;
    height: 100px;
    size: 200px;

}
#b{
    width: 100px;
    height: 100px;
  size: 200px;

}

#c{
    width: 400px;
    height: 400px;
<front size="300px">;

}